.comics-card-container {
  width: 15rem;
  height: 17rem;
  background-color: #202020;
  margin-top: 15px;
  border-radius: 10px;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
}
.comic-title-container {
  height: 30%;
  width: 100%;
}
.comics-card-container p {
  color: white;
  padding: 5px;
}
.comics-card-container .image-container {
  width: 100%;
  height: 70%;
}

.comics-card-container .image-container img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
