.filter-container {
  width: 65%;
  height: 15rem;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: space-between;
  background-color: #c69090;
  box-shadow: 4px 6px 3px 0px #fab9b9;
  flex-wrap: wrap;

}
.hidden {
  height: 3.9rem;
  transition: 0.4s;
}


.filter-option-list label {
  width: 80%;
}

.filter-title {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  display: flex;
}
.filter-title p {
  color: #921c1c;
  font-size: 20px;
}

.filter-title-button {
  height: 2.8rem;
  background-color: transparent;
  border-width: 0px;
  background-color: black;
  width: 2.8rem;
  border-radius: 2.8rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
