.navbar-links {
  margin-right: 15px;
  padding: 5px;
  text-decoration-line: none;
  color: aliceblue;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: white;
  font-size: 15px;
  transition: 0.1s;
}

.navbar-links:hover {
  border-color: red;
  padding-bottom: 2px;
}
