.card-container-border {
  width: 13rem;
  height: 20rem;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  height: 96%;
  width: 94%;
  background-color: #d53c3c;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  -webkit-box-shadow: 4px 11px 21px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 11px 21px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 11px 21px -6px rgba(0, 0, 0, 0.75);
  transition: 0.8s;
}
.card-container h3 {
  font-family: fantasy;
  letter-spacing: 0.1rem;
  color: antiquewhite;
  font-size: 0.7rem;
}
.card-container:hover {
  width: 100%;
  height: 100%;
}
.card-subContainer {
  width: 100%;
  display: flex;
  height: 30%;
  background-color: #921c1c;
  justify-content: center;
  align-items: center;
}
