.pagination-button {
  width: 5rem;
  margin-right: 15px;
  color: white;
  height: 2.5rem;
  background-color: black;
  border-width: 0px;
  justify-content: center;
  align-items: center;
  display: "flex";
  border-radius: 10px;
  transition: 0.3s;
}

.pagination-button:hover {
  width: 5.2rem;
  height: 2.7rem;
}
