.detail-container {
  background-color: white;
  height: 91vh;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detail-header {
  width: 100%;
  display: flex;
  background-color: #db2b2b;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.detail-header h1 {
  color: white;
  letter-spacing: 0.1rem;
}
.detail-header button {
  color: black;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: none;
}

.detail-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.detail-content h2 {
  color: #db2b2b;
  letter-spacing: 0.1rem;
}
.character-detail-card {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91vh;
  width: 60%;
  background-color: black;
  overflow: hidden;
}
.character-detail-card p {
  color: wheat;
}

.character-detail-card h4 {
  color: wheat;
}
.comics-list-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  background-color: #db2b2b;
  height: 91vh;
}
.comics-list-detail h3 {
  font-size: 25px;
  background-color: #db2b2b;
  padding: 7px;
  border-radius: 5px;
}
.comics-list-detail ul {
  align-self: flex-start;
}
@media screen and (max-width: 992px) {
  .comics-list-detail {
    width: 100%;
  }
  .character-detail-card {
    width: 100%;
  }
  .detail-content h2 {
    font-size: 1.1rem;
  }
  .detail-header h1 {
    font-size: 1.4rem;
  }
}
